@model ASPNET_MVC5_DEV_IO.Application.ViewModels.ProdutoViewModel

@{
    ViewBag.Title = $"Deseja realmente excluir o fornecedor {Model.Nome}?";
}

<h1>@ViewBag.Title</h1>

<hr/>

<div class="row">
    <h4>Esta ação será permanente!</h4>
    <hr/>
    <dl class="row">
        <div>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nome)
            </dd>
        </div>

        <div>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Fornecedor.Nome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Fornecedor.Nome)
            </dd>
        </div>

        <div>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ativo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ativo)
            </dd>
        </div>
    </dl>

    @using (Html.BeginForm(HttpMethod.Delete))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <input type="submit" value="Excluir" class="btn-danger"/>
            @Html.ActionLink("Voltar", "Index", new { @class = "btn btn-default" })
        </div>
    }
</div>