@using Microsoft.AspNetCore.Html
@model ASPNET_MVC5_DEV_IO.Application.ViewModels.FornecedorViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Editar Fornecedor";
}

<h2>@ViewBag.Title</h2>
<hr/>

<div class="row">
    @using (Html.BeginForm(HttpMethod.Patch))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", htmlAttributes: new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Documento, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Documento, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Documento, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TipoFornecedor, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.RadioButtonFor(m => m.TipoFornecedor, "1", new { @checked = true }) Pessoa Física <br/>
                    @Html.RadioButtonFor(m => m.TipoFornecedor, "2") Pessoa Jurídica <br/>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Ativo, htmlAttributes: new { @class = "controllabel col-md-2" })
                <div class="col-md-3">
                    @Html.CheckBoxFor(model => model.Ativo, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-3">
                    <input type="submit" value="Cadastrar" class="btn btn-primary"/>
                    <a class="btn btn-info" href="@Url.Action("Index", "Fornecedores")">Voltar</a>
                </div>
            </div>
        </div>
    }
</div>

<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

<div id="EnderecoTarget">
    <partial name="_DetalhesEndereco"/>
</div>

@section Scripts
{
    <script>
    
        $(document).ready(function () {
            SetModal()
        }); 
    </script>
}